.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body{
  /* background: rgb(104,46,221);
  background: radial-gradient(circle, rgba(104,46,221,1) 0%, rgba(94,56,172,1) 100%);
   */

   background-image: url('https://images.pling.com/img/00/00/65/57/40/1752908/2019-purple-abstract-4k-hd-design-wallpaper-1920x1080-10wallpaper.com.jpg');
  background-attachment: fixed;
  background-size: cover;
  color:white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
